.page {
  /*min-width: ;
    max-width: ;*/
  font-family: "Inter", Arial;
  color: white;
  background-color: #2a2c2f;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
