.places__content {
  display: grid;
  margin: 92px 148px auto 148px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  gap: 48px 40px;
  grid-template-areas:
    "title subtitle"
    "image description"
    "button description";
}
.places__title {
  max-width: 460px;
  max-height: 152px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
  margin: 0;
}

.places__subtitle {
  grid-area: subtitle;
  max-height: 67px;
  max-width: 456px;
  margin-top: auto;
}

.places__artist {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
}

.places__artist-info {
  font-size: 18px;
}

.places__image {
  grid-area: image;
  width: 100%;
  max-width: 460px;
  max-height: 460px;
  object-fit: scale-down;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.places__description {
  font-size: 18px;
  line-height: 22px;
}

.places__info {
  grid-area: description;
}

.places__button {
  grid-area: button;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  padding: 13px 20px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  max-width: 289px;
  max-height: 48px;
  border-style: none;
  margin: auto;

  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 786px) {
  .places__content {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    margin-left: 24px;
    margin-right: 24px;
  }
  .places__title {
    max-width: 340px;
  }
  .places__image {
    width: 100%;
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (max-width: 500px) {
  .places__content {
    display: block;
    margin-top: 62px;
  }
  .places__title {
    max-width: 288px;
    font-size: 32px;
  }
  .places__button {
    font-size: 14px;
  }
}

@media screen and (min-width: 786px) {
  .places__button:hover {
    background: linear-gradient(
      90deg,
      rgba(2, 120, 254, 0.25) 0%,
      rgba(0, 58, 123, 0.25) 99.98%
    );
  }
}
